.login {
  justify-content: center;
  align-content: center;
  margin-top: 30px;
}
.login .container-sm {
  margin-top: 30px;
  margin-bottom: 20px !important;
  max-width: 500px;
  height: 300px;
}

.login .container-sm .shadow-1 {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  position: relative;
}
::placeholder {
  color: black;
  margin: auto;
}
.f6 {
  margin-top: 5px;
}
.login .btn {
  padding: 10px 10px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  background-color: black !important;
}
p {
  margin-top: 15px;
}
p a {
  margin-top: 10px;
  font-style: none;
  text-decoration: none;
  color: black;
}

.fontuser {
  position: relative;
}

.fontuser i {
  position: absolute;
  right: 15px;
  top: 18px;
  color: black;
}
.fontpassword {
  position: relative;
}

.fontpassword i {
  position: absolute;
  right: 15px;
  top: 18px;
  color: black;
}
h2 {
  font-family: "Times New Roman", Times, serif;
}
