.musicuploader {
  justify-content: center;
  align-content: center;
  margin-top: 30px;
}
.musicuploader .container-sm {
  margin-top: 30px;
  max-width: 500px;
  height: 400px;
}

.musicuploader .container-sm .shadow-1 {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  position: relative;
}
::placeholder {
  color: black;
  margin: auto;
}
.f6 {
  margin-top: 5px;
}
.musicuploader .btn {
  padding: 10px 10px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  background-color: black;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
