.navbar {
  background-color: #212f3d;
  padding: 20px;
}
.navbar .navbar-brand {
  color: #f4d03f;
  font-weight: 800;
  font-size: 25px;
}
.nav-item {
  margin-left: 20px;
}
.navbar-nav .nav-item .nav-link {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3ed9fa;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: white;
  color: black !important;
}
